@charset "utf-8";
/* CSS Document */
html, body, div, span,applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0; font-family:Arial, Helvetica, sans-serif;}
ul{margin:0; padding:0; list-style:none;}
font{font-family:Arial, Helvetica, sans-serif;}
a img{border:0;}
a{text-decoration: none;}



.top{height:44px; width:100%; background:#FFF;}
.top_internal{width:990px; margin:0 auto; height:27px; padding:8px 0 7px 0;}
.email{width:270px; height:27px; float:left;line-height:27px; padding-left:34px; background:url(../images/email_btn.jpg) no-repeat center left;}
.email a{color:#939393; text-decoration:none;}
.search{width:269px; height:27px;  float:left; }
#search_txt{background:url(../images/sear_txt.jpg) no-repeat; border:0; padding:0; margin:0; width:202px; height:27px; float:left;line-height: 27px;}
#search_but{width:67px; height:27px; border:0; padding:0; background:url(../images/sear_btn.jpg) no-repeat; float:left;}
.nav_div{width:100%; height:137px; background:#0769b2;}
.nav_internal{width:990px; height:137px; margin:0 auto;}
.logo{float:left;}

.language{ width: 270px; height: 27px; float: right; line-height: 27px; }
.language  .guoQi{padding-right:5px; vertical-align:middle;}
	
	
	
/*---------------------菜单样式----------------------------------*/
.page_item{float:left;   line-height:32px;  text-align:center; }
.page_item_a{float:left;   text-align:center;  font-weight:bold;background-image:url(../images/nav_bk.jpg); position:relative; }
.page_item_a a{display:block; color:#FF0000; }
/*navigation*/

.navwrap{height:137px;line-height:137px; width:695px;font-size:12px;z-index:6;float:right;}
#nav{float:left;height:137px;line-height:137px;padding-left:13px;}
#nav, #nav ul{margin:0;padding:0;list-style-type:none;list-style-position:outside;position:relative;line-height:137px; z-index:5; }
#nav a{height:137px;display:block;padding:0 18px;text-decoration:none;text-align:center;line-height:137px; outline:none;z-index:35;position:relative;float:left; color:#FFF; font-size:16px; font-weight:bold;}

#nav ul a{padding-top: 10px;height:50px; line-height: 20px;   background:url(../images/nav_bk.jpg) repeat-x;}
#nav li{float:left;position:relative;z-index:20; height:137px; line-height:137px;}
 
#nav li li{border-left:none;margin-top:0;}
#nav .page_item{height:50px; background:none; line-height:50px;}
#nav ul .page_item a{background:none; background-color:#17a7ee; border-top:1px solid #FFF; font-size:14px;}
#nav ul .page_item a:hover{background:url(../images/nav_bk.jpg) repeat-x;}

#nav ul {position:absolute;display:none; top:137px;left:-1px;}
#nav li ul a{ float:left;text-align:left; width:190px; text-align:center;}
#nav ul ul{top:auto;border-top:none;}	
#nav li ul ul {left:214px;top:0px;}
#nav li:hover ul ul,  #nav li:hover ul ul ul,  #nav li:hover ul ul ul ul{display:none;	}
#nav li:hover ul,  #nav li li:hover ul,  #nav li li li:hover ul,  #nav li li li li:hover ul{display:block;}
#nav .children .children .page_item a{background:none; background-color:#17a7ee; border-top:1px solid #FFF; font-size:14px;font-size: 12px;width: 220px;}
#nav .children .children{z-index:55555;left: 226px;}
#nav .children .children .page_item{border-left: 1px solid #d6dbe1;}
#nav .children .children .page_item a:hover{background:url(../images/nav_bk.jpg) repeat-x;}
.sub_banner{width:100%; overflow:hidden;}
/*banner*/
a:link{text-decoration:none;color:#000;}
.banner{ min-width:1003px;height:480px; position:relative; margin:0 auto; overflow:hidden; z-index:1;}
.banner_pre_next{position:relative;z-index:101;top:230px;display:none;}
.banner_pre_next .banner_btn_left{position:absolute;left:10%;color:#fff;font:bold 80px/normal simsun;}
.banner_pre_next .banner_btn_right{position:absolute;right:10%;color:#fff;font:bold 80px/normal simsun;}
.banner_pre_next .banner_btn_right:hover,.banner_pre_next .banner_btn_left:hover{color:#0083f6; text-decoration:none;}
.yq_banner_list{ width:200px; height:20px;position:absolute; top:455px; text-align:right; z-index:100; left:45%; padding-right:12px;overflow: hidden;}
.yq_banner_list a{ display:inline-block; width:38px; height:5px;background:url(../images/abg.jpg) no-repeat left; text-decoration:none;}
.yq_banner_list a:hover{text-decoration: none;}
.yq_banner_list a:hover,.yq_banner_list a.hover{background:url(../images/abg.jpg) no-repeat right; }
.banner_show{ width:100%; text-align:center; height:485px; overflow:hidden; position:relative;  }
.bannger_inbox{ position:absolute; left:50%; top:0;}
.banner_mag{width:660px;height:140px;position:absolute;left:50%;top:85px;margin-left:-500px;text-align:left;z-index:99;font-family: "微软雅黑";}
.banner_magbox{width:600px;height:90px;text-align:left;padding:25px 30px 35px;}
.banner_magbox h4{ font-size:20px;*font-size:18px; font-weight:bold; color:#fff; margin-bottom:10px; }
.banner_magbox p{font-size:12px;color:#fff;font-weight:normal;margin-bottom:12px;}

/*main_products*/
.main_products{height:217px; width:100%; background:#0769b2;}
.main_pro{width:990px; height:217px; margin:0 auto;}
#scrollDiv {overflow: auto; padding-top:28px;}
.scrollText {width: 970px;height: 160px;float: left;overflow: hidden; _width:960px!important;}
.scrollText li {height: 160px;padding-left: 10px;float:left;}
.scrollText li a{display:block; width:310px; height:160px; margin-left:10px;_margin-left:5px!important; float:left; background:#FFF;}
.scrollText li a:hover{background:#9edfff;}
.scrollText li a img{float:left;}
.picc{width: 190px;height: 142px;padding-top: 10px;}
.scrollText li a span{float:left;}
.scrollText .pro_name{font-size: 16px;color: #df0600;font-weight: bold;padding-top:25px;text-align: center;width:95px;height: 100px;overflow: hidden;padding-right: 3px;}
.scrollText .pro_cate{color:#044390;padding-left:15px; padding-top:10px;}
.scrollText .mainpro_but{padding-left:3px;}

.up { margin-left:970px; _margin-left:auto!important; width: 20px;height: 80px;background:url(../images/up_down.jpg) no-repeat; }
.down {margin-left:970px;_margin-left:auto!important; zoom: 1;width: 20px;height: 80px;background:url(../images/up_down.jpg) no-repeat 0 -80px; }


.product_categories{height:298px; width:100%; background:url(../images/pr_bk.jpg) no-repeat center;}
.pro_cat{width:990px; margin:0 auto; padding-top:35px;}
.pro_tit{padding-bottom:30px;}
.pro_cat p a{font-size:12px; color:#5d5d5d;}
.bus_air{width:490px; height:172px; float:left;}
.truck_ref{width:500px; height:172px; float:right;}
.pro_photo{float:left;}
.pro_photo img{width:220px;}
.pro_word{float:left; width:240px; overflow:hidden; padding-left:15px;}
.pro_word  p{height:62px; overflow:hidden; line-height:21px;}
.pro_word h1{padding-top:20px; padding-bottom:8px;}
.pro_word h1 a{color:#002680; font-size:16px;}
.pro_but{margin-top:12px; display:block;}

.company_profile{width:100%; height:583px; background:url(../images/company_bk.jpg) center no-repeat;}
.company_internal{width:990px; margin:0 auto; padding-top:40px;  }
.com_but{ width:360px; margin:0 auto; overflow:hidden; margin-top:30px;}
.com_but a{color:#535455; font-size:12px;}
.com_but .ch{ display:block; float:left;width:123px; height:23px; background:url(../images/com_history.gif) no-repeat; line-height:23px;color:#fff; padding-left:6px; }
.com_but .mt{display:block; float:left; width:111px; height:23px; background:url(../images/machine_tools-.gif) no-repeat;line-height:23px; padding-left:6px; margin-left:15px;}
.com_but .fa{ display:block; float:left; width:78px; height:23px; background:url(../images/facilities.gif) no-repeat;line-height:23px; padding-left:6px; float:right;}

.com_photo{margin-top:35px; overflow:hidden;}
.case_cont{width:990px; margin:0 auto; overflow:hidden; padding-top:40px;}
.more{float:right;}
.case_tit{padding-bottom:30px;}
.case{width:585px; float:left; overflow:hidden; padding-right:25px;}
.caseimg_right{overflow:hidden; margin-bottom:20px; float:left;}
.caseimg_right img{margin-right: 10px;}
.caseimg_right p{font-size:12px;}
.case_show img{float:left;width: 115px;border: 1px solid #ccc;}
.case_show a:hover img{float:left;width: 115px;border: 1px solid #095085;}
.case_title{ color:#323232; font-size:14px; font-weight:bold; padding-bottom:5px; display:block; }
 
.caseimg_right .morecase_but{ display:block;width:113px; height:23px; background:url(../images/morecase_but.gif) no-repeat; float:left; margin-top:5px;}
.cont_us{width:345px; float:left; }
.contact{width:230px; padding-left:115px; padding-top:17px; height:214px; background:url(../images/contant_usbk.jpg) no-repeat; color:#fff; font-size:14px; font-weight:bold;}
.contact_tit{padding-bottom:23px;}
.contact a{color:#FFF; text-decoration:underline;}
.contact a:hover{text-decoration:none; color:#FFF;}
.contact span{display:block; padding-top:7px;}

.footer{width:100%; background:url(../images/footer_bk.gif) repeat-x; height:180px; overflow:hidden;}
.footer_nav{width:990px; margin:0 auto; color:#fff; text-align:center; font-size:14px; line-height:40px;}
.footer_nav a{color:#fff; padding:0 15px;text-decoration: none;}
.footer_nav a:hover{ color:#232323;}
.footer_bottom{width:990px; margin:0 auto; overflow:hidden; color:#FFF; font-size:14px; padding-top:30px;line-height: 22px;}
.bottom_number{font-size:16px; font-weight:bold; display:block; padding-bottom:5px;}
.bottom_phone span a{color:#FFF; text-decoration:underline;}
.bottom_phone span a:hover{text-decoration:none;}
.bottom_logo{float:left;}
.bottom_phone{float:left; padding-left:25px; padding-top:5px; font-size:12px; margin-right:130px;}
.record{float:left; padding-left:20px; padding-top:5px; font-size:12px;}
 .record a{color:#FFF;text-decoration:underline;}
 .record a:hover{color:#FFF;text-decoration:none;}
/*reset*/
body{font-size:12px; font-family:Tahoma, Arial, Geneva, sans-serif; color:#333;-webkit-text-size-adjust:none;}
 
a:hover{color:#0c4687; text-decoration:underline;}

/**about.html**/

.submain{ width:985px; margin:0 auto;}
.sub_c{overflow:hidden; zoom:1;}
.sub_c_l{width:250px; float:left; padding:20px;}
.sub_c_r{width:670px; float:right; padding-bottom:30px;}

.leftprolist{  padding: 0px 0px 20px; border: 1px solid #EDEDED;}
.leftprolist .subtitle{background:url(../images/l_navbk.gif) repeat-x #0769b2; padding-left:20px;}
.leftpro{padding-top:10px;}

.subtitle{height:35px; line-height:35px;  padding-left:20px; background:url(../images/l_navbk.gif) repeat-x;}
.subtitle a{font-size:15px; font-weight:bold; color:#fff;}
 .tit_name a{color:#FFF;}
.leftpro dl {position: relative; z-index:20;}
.leftpro dl dt { position: relative; z-index: 30; height: 36px; line-height:35px; overflow:hidden; }
.leftpro dl dt a { display: block; color: #333; padding-left:20px;border-bottom: 1px #F2F2F2 solid;}
.leftpro dl dt a:hover{ background:#FFF;}
.leftpro .testing_equipment{display:block; height:40px;line-height:18px;}
.leftpro dl dd { position: absolute; z-index: 20px; top: 0px; left:245px; display: none; width: 255px; height: auto; background: #fff; border: 1px solid #d6dbe1; box-shadow: -1px 1px 6px rgba(0, 0, 0, .3);}
.leftpro dl dd.sub-list1 { top: -29px;}
.leftpro dl dd.sub-list2 { top: -64px;}
.leftpro dl dd.sub-list3 { top: -99px;}
.leftpro dl dd.sub-list4 { top: -134px;}
.leftpro dl dd.sub-list5 { top: -169px;}
.leftpro dl dd ul { padding: 15px 0px 26px; list-style:none;}
.leftpro dl dd ul li { padding: 0 15px; line-height:22px;}
.leftpro dl dd ul li a { display: block; padding:6px 0px 6px 30px; border-bottom: 1px dotted #ccc; background:url(../images/bread2.jpg) no-repeat left; color:#666; }
.leftpro dl dd ul li a.second{padding-left:15px; color:#333; font-weight:bold;}
#about_list a{ width:230px; text-align:left; padding-left:20px; font-size:14px; border-bottom:1px #f2f2f2 solid; }
#about_list a:hover{ background:#17a7ee; color:#FFF; border:0;}

/*nomal-hover*/
.leftpro dl hover dt :a{color:#ab0b0b;}
.leftpro dl:hover dd { display: block; }

/* for ie 6 jquery */
.leftpro dl.phover dt a {color:#ab0b0b;}
.leftpro dl.phover dd { display: block; }

.sidelink{padding:18px 15px 30px;border: 1px solid #EDEDED;margin:20px 0 20px 0;}
.sidebold{font-size:16px; font-weight:bold; color:#333; height:24px; line-height:24px; font-family:Tahoma,Arial,Verdana,sans-serif; margin-bottom:8px;}
.chatnow{display:block; margin:8px 0px; color:#333;}
.leftlink_mail{display:block;  padding:5px 0px 15px 27px; border-bottom:1px dotted #999; color:#f10700;}

.leftslide{  margin:0px 0px 20px; padding:0px 0 15px 0;border: 1px solid #EDEDED;}
.aside-parts-slide { overflow:hidden; width:200px; margin:15px auto 0px;}
ul#aside-parts-slide  { overflow:hidden; position:relative; width:200px; height:175px;  }
ul#aside-parts-slide  li{overflow:hidden; width:200px;  height:175px; position:absolute; top:0; left:0; display:none; text-align:center;}
ul#aside-parts-slide  li img{display:block; width:180px;padding:5px; border:1px solid #ccc; margin:7px auto; background:#f6f6f6; }
ul#aside-parts-slide  li a:hover img{display:block; width:180px;padding:5px; border:1px solid #095085; margin:7px auto; background:#f6f6f6; }
ul#aside-parts-slide  li p a{color:#333;}
ul#aside-parts-nav   {overflow:hidden; text-align:right;}
ul#aside-parts-nav  li { display: inline-block; vertical-align: top; width: 10px; height: 12px; margin: 0 2px; zoom: 1; *display: inline; cursor:pointer; background: url(../images/blackdot.png) no-repeat 0 0;}
ul#aside-parts-nav  li.now { background: url(../images/reddot.png) no-repeat 0 0; cursor:default;}

 
.indexcontact_text{padding:20px 5px 0px;}
.indexcontact_text p{padding-left:28px; margin-bottom:5px;}
.indextel{background:url(../images/tel.png) no-repeat 0 3px; font-size:16px; font-weight:bold;}
.indexmail{background:url(../images/mail.png) no-repeat 0 3px;}
.indexaddr{background:url(../images/address.png) no-repeat 0 4px;}

.breadcrumbs{padding:25px 0px 13px 0px;  color:#0769b2;  }
.breadcrumbs strong{color: #B90000;font-size: 16px;}
.breadcrumbs a{margin:0px 5px; color:#333;}

.abouttitle{font-weight:bold; padding-left:23px; margin-bottom:5px;}
.aboutlist{margin-bottom:25px;}
.aboutlist div{line-height:22px;}

/**procover.html**/
.procover{padding:10px;}
.procover dl{overflow:hidden; zoom:1; margin-bottom:10px;}
.procover dt{ line-height:24px;margin-bottom:20px; background:#107abd; position:relative;}
.procover dt a{display:inline-block; color:#fff; font-size:14px; font-weight:bold;  padding:0px 12px 0px 20px; }
.procover a.learnmore{display:block; position:absolute; top:1px; right:10px;  padding:0px 20px 0px 15px; height:20px; line-height:20px; color:#fff; font-size:12px; font-weight:normal; text-shadow:none; }
.procover dd{width:128px; height:160px; float:left; margin:5px 28px 5px 5px; display:inline;}
.procover dd a{display:block; margin-bottom:8px; line-height:1.5em; color:#333;text-align: center;}
.procover dd img{width:120px;padding:3px;  border:1px #bbb solid;background:#f5f5f5;}
.procover dd a:hover img{width:120px;padding:3px;  border:1px #095085 solid;background:#f5f5f5;}
/**prodetail.html**/
.prodetailwrapper{width:960px; margin:0 auto;}
.prodetailwrapper .sub_c{background:none;}
.prodetailwrapper .sub_c_l{float:right; padding:0px;}
.prodetailwrapper .leftpro dl dd {position:absolute; left:-255px;}
.prodetailwrapper .sub_c_l .leftprolist,.prodetailwrapper .sub_c_l .leftslide,.prodetailwrapper .sub_c_l .leftcontact{border:1px solid #D5D5D5;}
.leftcontact{padding:0px 0 20px 0; border: 1px solid #EDEDED;}
.prodetailwrapper .sub_c_r{width:680px; float:left; padding-top:10px;}
.prodetailtop{margin-bottom:30px; background:#f4f4f4;}
.prodetailtopmain{overflow:hidden; zoom:1; padding:25px}
.prodetailtop_pic{width:420px; float:right; padding:5px; border:1px solid #ccc;}
.prodetailtop_text{width:50%; float:left;}
h1{font-size:16px; color:#ab0b0b; margin-bottom:10px;}
.data li{overflow:hidden; zoom:1; padding:10px 0px; border-bottom:1px dashed #ccc;}
.data .data_l{display:block; width:32%; margin-right:1%; float:left; font-weight:bold; text-shadow:none;}
.data .data_r{float:left; width:64%;}
.blue{color:#999; margin:15px 0px;}
.pro_follow{margin:15px 0 0 0;line-height:20px;}
.help{color:#699B9C;}
.m_email,.chat{margin-right:2%;}

.mainrin{position:relative;}
.subpromenu{overflow:hidden; zoom:1; height:37px; line-height:35px; padding-left:151px; margin-bottom:25px; text-shadow:none;}
.subpromenu ul{list-style:none;}
.subpromenu li{float:left;  width:120px;  text-align:center; border:1px solid #C6C6C6; border-bottom:none; border-left:none;}
.subpromenu li a,.subpromenu li a:visited{display:block; color:#333;}
.subpromenu li a:hover{color:#ab0b0b; text-decoration:underline;}
.subpromenu li.menuadv{float:none; border:none;  position:absolute; top:-1px; left:0px; width:151px;}
.subpromenu li.menuadv a,.subpromenu li.menuadv a:visited{background:url(../images/tab1.png) no-repeat 0 0; color:#fff; height:44px;}
.subprotext{margin-bottom:30px; border:1px solid #C6C6C6; border-top:2px solid  #e10000; padding-bottom:20px;}
.subprotitle{height:35px; line-height:35px; font-weight:bold; color:#ab0b0b; margin-bottom:15px; padding:0px 20px;}
.simple_intro{padding:20px 20px 10px;}
.text_box{padding:0px 20px 0px 20px; overflow:hidden; zoom:1;}
.text_l{width:390px; float:left;}
.pic_r{width:230px; float:right;}
.pic_r img{width:222px; height:148px; padding:3px; border:1px solid #ccc; background:#f4f4f4; margin:15px 0px;}
.text_l dl{margin-bottom:15px;}
.text_l dt{font-size:17px; margin-bottom:5px;}
.text_l dd,.simple_intro p{line-height:24px;}

.inquiry{border:1px solid #C6C6C6; border-top:2px solid  #e10000;}
.inquirytitle{font-size:14px; font-weight:bold; color:#ab0b0b;padding:10px 0px 10px 20px;}
.contactinfor{padding:10px 0px 10px 20px; border-bottom:1px dashed #ccc;}
.inquirymain{padding:20px;}
.mail{background:url(../images/mail.png) no-repeat 0 3px; margin-right:50px; padding-left:20px;}
.phone{background:url(../images/tel.png) no-repeat 0 0; padding-left:20px;}
.inquirymain span{font-weight:bold; color:#ab0b0b;}
.inquirymain table{margin-top:25px;}
.inquirymain input{border:1px solid #ccc; width:250px; height:18px;}
.inquirymain textarea{border:1px solid #ccc; width:350px; height:180px;}
.inquirymain table td{padding:3px 8px 3px 15px;}
.inquirymain input.sendmessage{background:url(../images/sendmessage.png) no-repeat 0 0; width:169px; height:32px; border:none; margin:10px 0px 10px 180px;}

.pro_table2{border:none;border-top:1px solid #EFEFEF; border-left:1px solid #EFEFEF;}
.pro_table2 tr{border:0px;}
.pro_table2 td{border:none;border-bottom:1px solid #EFEFEF;border-right:1px solid #EFEFEF;}

/**news.html**/
.newswrapper{padding-top:10px;}
.blacktitle{overflow:hidden; zoom:1; height:26px; line-height:26px; background:#095085; color:#fff; margin-bottom:25px; text-shadow:none; clear:both;}
.blacktitle .newstitle{ height:25px; line-height:25px; background:none;}
.newspart li{height:35px; line-height:35px; margin-bottom:5px; border-bottom:1px dashed #bbb;}
.newstitle{float:left; width:500px; height:30px; line-height:30px; overflow:hidden; padding-left:10px; background:url(../images/sign01_h.jpg) no-repeat left center;}
.newstitle a,.newstitle a:visited{color:#333;}
.subnewsdate{float:right; margin-right:10px;}
.blacktitle .subnewsdate{width:150px; border-left:3px solid #fff; text-align:center; margin-right:0px;}

/**prolist.html**/
.prolistwrapper{padding:0px 7px 15px;}
.prolistwrapper li{height:100px; overflow:hidden; padding:15px 10px 15px 165px; border-bottom:1px dashed #999; margin-bottom:15px; position:relative;}
.prolistpic{position:absolute; left:0px; top:14px;background:#f5f5f5;}
.prolistpic img{width:135px; padding:3px; border:1px #bbb solid;}
.prolistpic a:hover img{width:135px; padding:3px; border:1px #095085 solid;}
.prolistTitle a, .prolistTitle a:visited{display:block; margin-bottom:5px; color:#333; font-weight:bold;}
.prolistwrapper li p{ height:68px; overflow:hidden; color:#666;}
.prolistwrapper li .canshu{ height:68px; overflow:hidden; color:#666;padding: 3px 8px 3px 8px;line-height: 18px;}
.dian1{color:#ff0000; padding-right:5px;}
.zhongyao{color: #333;}
.prolistmore{width:60px; height:20px; line-height:18px; position:absolute; top:95px; right:10px; background:#107abd; text-align:center;}
.prolistmore a{color:#fff; text-shadow:none;}

.prolistwrapper .prolistcanshu  li{height:114px;}
.prolistwrapper .prolistcanshu  .prolistpic  img{width:145px;}
.prolistwrapper .prolistcanshu  .prolistpic  a:hover  img{width:145px;}
.prolistwrapper .prolistcanshu  li .canshu{ height:85px;}
.prolistwrapper .prolistcanshu .prolistmore{top: 115px;}
.table_bg{padding:1px; background:#F5F5F5;line-height: 22px;}
.table_bg table{border:none;border-top:1px solid #CCC; border-left:1px solid #CCC; text-align:center; background:#F0EEEE; text-shadow:none;}
.table_bg tr{border:0px;}
.table_bg table td,.table_bg table th{border:none;border-bottom:1px solid #CCC;border-right:1px solid #CCC;padding:8px 15px;}
.subprotext tr:hover {color:white;background:#929292}
.pro_table {border:none;border-top:1px solid #CCC; border-left:1px solid #CCC; text-align:center; background:#E8E8E8; text-shadow:none;}
.pro_table tr{border:0px;}
.pro_table  td,.pro_table  th{border:none;border-bottom:1px solid #CCC;border-right:1px solid #CCC;padding:8px 15px;}

/*ys*/
.c_font{display:block; text-align:right; color:#c00;}
.c_bg{ background:#eeeeee; display:block;}
.c_font2{ font-size:12px; font-weight:bold; padding:3px 10px;margin-bottom:1px;}
.c_textarea{ width:99%; height:100px; border:1px solid #cbcfd2;}
.c_info{ overflow:hidden;zoom:1; background:#FFFFFF; padding:10px 0;}
.c_info_left1{width:90px; float:left;padding:0 0 0 15px; text-align:right; margin-right:10px; display:inline;}
.c_info_left2{width:190px; float:left; margin-right:5px; display:inline;}
.c_info_right{width:155px; float:left;padding:0 25px 0 0;}
.c_info .c_input{height:22px; width:180px;margin:0 0 5px;}
.c_m{margin:0 0 12px; }
.c_btn{ text-align: center; padding:18px 0 5px}
.c_border{ border-bottom:1px dashed #e3e3e3;}


.clickinfo {text-align: right;padding: 10px 20px 10px 0px;margin: 10px 0px 20px;color: #999;border-top: 1px dashed #ccc;border-bottom: 1px dashed #ccc;}
.aboutlist p{line-height:22px;}
.aboutlist h1 {font-size: 16px;color: #B52B18;text-align: center;}
.aboutlist h2{margin-top:15px;}
.aboutlist  li {float: left;margin: 10px;width: 250px;}

.inquiry_text{ float:left;width:55px;height:23px; line-height:23px; overflow:hidden;padding:5px 0 5px 10px;}
.inquiry_input,.inquiry_area{float:right;width:180px; overflow:hidden;padding-right:10px;}
.inquiry_btn{ text-align:center;padding:10px 10px 30px 10px;}
.input_text{ width:180px; height:20px; overflow:hidden;border:1px solid #cccccc;}
.input_area{width:176px; height:60px; overflow:hidden;border:1px solid #cccccc;}
.input_btn{ background:url(../images/send.png) no-repeat 0 0;height:28px; width:104px; border:none;}

.erwi{position:fixed;top:150px;left:60px;z-index:9999;zoom:1;}
.erwi img{width:160px;}



/**2017-03-28  lzf add**/
.video_dl{
	clear:both;
	width: 670px;
}
.video_dl dd{
	float: left;
	width:206px;
	height: 216px;
	margin:0 8px 15px 9px;
}
.video_dl dd .pic{
	width: 200px;
	height: 150px;
	position: relative;
	padding: 2px;
	border: 1px solid #dedede;
}
.video_dl dd .pic img{
	display: block;
	width: 200px;
	height: 150px;
}
.video_dl dd .pic .icon{
	position: absolute;
	left: 0;
	top: 0;
	display:block;
	width: 100%;
	height: 100%;
	background-color:rgba(0,0,0,.4);
	background-image: url(../images/video_ico.png) ;
	background-repeat: no-repeat;
	background-position:  center center;
	transform: scale(0,0);
	-webkit-transform: scale(0,0);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.video_dl dd .text{
	height: 40px;
	line-height: 20px;
	vertical-align: middle;
	text-align: center;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	color: #666;
	margin: 10px 5px;
}
.video_dl dd a:hover .icon{
	transform: scale(1,1);
	-webkit-transform: scale(1,1);
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.video_dl dd a:hover .text{
	text-decoration: underline;
}





/****2017-08-24   lzf   add***/
.float_lx{
	position: fixed;
	left: 0;
	top: 20%;
	width: 48px;
	height: 192px;
	z-index: 99;
}
.float_lx_con{
	height: 192px;
	position: relative;
}
.float_lx_btn{
	position: absolute;
	bottom: -20px;
	right: 0;
	width: 0;
    height: 0;
    border-width: 3px;
    border-style: solid;
    border-color: transparent transparent transparent rgba(255,255,255,.8);
    cursor: pointer;
    transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.float_lx_btn.hover{
	right: -20px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.float_lx_con a{
	float: left;
	display: block;
	text-align: center;
	width: 48px;
	height: 48px;
	-webkit-transition: width .15s ease-in-out;
    transition: width .15s ease-in-out;
}
.float_lx_con a:hover{
	width: 62px;
	-webkit-transition: width .15s ease-in-out;
    transition: width .15s ease-in-out;
}
.float_lx_con a img{
	display: inline-block;
	height: 22px;
	margin: 13px auto 0;
}
.float_lx_con .icon1{
	background: rgb(0, 119, 181);
}
.float_lx_con .icon2{
	background: rgb(59, 89, 152);
}
.float_lx_con .icon3{
	background: rgb(29, 161, 242);
}
.float_lx_con .icon4{
	background: rgb(220, 78, 65);
}







.public_right_float_box {
    position: fixed;
    z-index: 5;
    top: 300px;
    right: 20px;
    width: 50px;
    background: #0769b2;
    box-shadow: 0 0 10px rgba(7,105,178,0.5);
}

.public_right_float_box .item {
    width: 100%;
}

.public_right_float_box .item a {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-justify-content: center;
    -webkit-justify-content: center;
    justify-content: center;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
}

.public_right_float_box .item a img {
    max-width: 100%;
    max-height: 100%;
}






/*表单*/
.public_click_inquiry {
    /*display: none;*/
    position: fixed;
    z-index: 10;
    bottom: 10px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.public_click_inquiry_form {
    width: 350px;
    background: #ffffff;
    box-sizing: border-box;
    padding: 35px 20px 30px;
}

.public_click_inquiry_form .form_tt {
    font-size: 22px;
    color: #444444;
    text-align: center;
    box-sizing: border-box;
    padding-bottom: 20px;
}

.public_click_inquiry_form .item {
    margin-bottom: 10px;
}

.public_click_inquiry_form .item .input_tt {
    font-size: 14px;
    color: #666666;
    box-sizing: border-box;
    padding-bottom: 4px;
}

.public_click_inquiry_form .item .input_tt span {
    color: #ff0000;
}

.public_click_inquiry_form .item input {
    width: 100%;
    height: 36px;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 0 10px 0 15px;
    border-radius: 6px;
}

.public_click_inquiry_form .item textarea {
    width: 100%;
    height: 80px;
    outline: none;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    padding: 10px 10px 0 15px;
    border-radius: 6px;
}

.public_click_inquiry_form .btn_box {
    box-sizing: border-box;
    padding-top: 5px;
    text-align: center;
}

.public_click_inquiry_form .btn_box button {
    font-size: 14px;
    color: #ffffff;
    width: 110px;
    height: 36px;
    background: #0769b2;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}

.public_click_inquiry_form .btn_box button:hover {
    opacity: 0.8;
}

.public_click_inquiry_form .close_btn {
    position: absolute;
    top: 34px;
    right: 20px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #0769b2;
    border-radius: 4px;
    -ms-transition: all 0.4s;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    cursor: pointer;
}

.public_click_inquiry_form .close_btn:hover {
    opacity: 0.8;
}

.public_click_inquiry_form .close_btn span {
    display: inline-block;
    font-size: 36px;
    color: #ffffff;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}




















